<h1 class="blog-post-header">Blog Posts</h1>

<% if @tag_name %>
  <p>Displaying <%= @blog_posts.length %> result(s)</p>
  <% elsif @error_message %>
  <p><%= @error_message %></p>
<% end %>

<div class="row">
  <% @blog_posts.each do |blog_post| %>
  <div class="col-sm-6">
    <%= link_to("/blog_posts/#{blog_post.id}") do %>
    <div class="blog-post">
      <h2><%= blog_post.title %></h2>
      <p><%= blog_post.short_content %></p>
    </div>
  <% end %>
  </div>
<% end %>
</div>

