<h1><%= @blog_post.title %></h1>
<p><%= @blog_post.content%></p>

<%= link_to("Edit Blog Post", "/blog_posts/#{@blog_post.id}/edit") %>
<br>
<%= link_to("Delete Blog Post", "/blog_posts/#{@blog_post.id}", method: :delete, data: { confirm: "Are you sure you want to delete your blog post?"}) %>

<% @blog_post.comments.each do |comment| %>
  <div class="comment">
    <h5><%= comment.username %></h5>
    <p><%= comment.content %></p>
    <%= link_to("Delete Comment", "/comments/#{comment.id}", method: :delete) %>
  </div>
<% end %>

<% if user_signed_in? %>

<h4>Leave a Comment?</h4>

<% if @new_comment.errors.any? %>
  <div id="error-explanation">
    <h2><%= pluralize(@new_comment.errors.count, "error") %> prevented this Blog Post from being saved:</h2>

<ul>
  <% @new_comment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
  </div>
<% end %>

<%= form_tag("/comments", method: :post) do %>
  <input type="text" name="username" value="<%= @new_comment.username %>" placeholder="Username">
  <br>
  <textarea name="content" placeholder="Write Comment"><%= @new_comment.content %></textarea>
  <br>
  <input type="hidden" name="blog_post_id" value="<%= @blog_post.id %>">
  <input type="submit" value="Leave Commment">  
<% end %>
<% end %>